prabal
.env
durable-kingdom-456901-u8-db29a531aa4f.json
flask-62adb-firebase-adminsdk-fbsvc-5a7c22f9cc.json
__pycache__
static/output.mp3
routes/__pycache__/auth_routes.cpython-313.pyc
routes/__pycache__/config.cpython-313.pyc
.gcloudignore
app.yaml
vertex-ai-456914-c9e08f089482.json
