Flask
firebase-admin
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
gspread
python-dotenv
requests
algoliasearch
gunicorn
gspread_dataframe
oauth2client
scikit-learn
vertexai
google-generativeai
google-cloud-translate
flask-login
google-cloud-texttospeech

